:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #111b22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.game {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.game .status{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  margin-bottom: 10px;
  
}
.game .status img{
  width: 25px;
  margin:0 15px;
}
.game .status p{
  margin: 0;
  color: #45f8c6;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.board .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  background-color: #223540;
  aspect-ratio: 1/1;
  cursor: pointer;
  border: 4px solid #111b22;
  outline: none;
  border-radius: 16px;
}
.board .cell img{
  width: 65px;
}
.bottom-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin-top: 20px;
}
.bottom-cont button{
  background-color: #223540;
  border: none;
  color: #45f8c6;
  font-size: 30px;
  padding:24px 50px;
  border-radius: 99px;
  cursor: pointer;
  transition: 0.2s background-color;
}
.bottom-cont button:hover{
  
  background-color: #2c424e;
}